@page "/"
@inject IHttpClientFactory clientFactory
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    protected override async Task OnInitializedAsync()
    {
        RegistrationData register = new()
            {
                Login = "Login",
                Name = "Adam",
                Password = "password",
                Role = 1,
                Surname = "Kot"
            };
        var httpClient = clientFactory.CreateClient("Anonymous");
        var data = await httpClient.PostAsJsonAsync<RegistrationData>("api/user/Registration", register);
        if (data != null)
        {
            var response = await data.Content.ReadFromJsonAsync<RegistrationResponse>();
            if (response != null)
            {
                Console.WriteLine($"{response.Success}");
            }
        }

    }
}