@page "/counter"
@inject IHttpClientFactory clientFactory
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        LoginData login = new()
            {
                Login = "TestLogin",
                Password = "Password"
            };
        var httpClient = clientFactory.CreateClient("Anonymous");
        var someData = await httpClient.PostAsJsonAsync<LoginData>("api/user/Login", login);
        if (someData != null)
        {
            var response = await someData.Content.ReadFromJsonAsync<LoginResponse>();
            if(response != null)
            {
                Console.WriteLine($"{response.Login}, {response.Id}, {response.RoleId}");
            }
        }
    }
}
