@page "/login"
<h3>LoginPage</h3>

<EditForm FormName="loginForm" Model="@loginData" >
    <label><InputText @bind-Value="@loginData.Login" DisplayName="Login" /></label>
    
    <InputText @bind-Value="@loginData.Password" type="password"/>
    <button>Login</button>
</EditForm>

@code {
    LoginData loginData { get; set; } = new();


}
